<!--
 - Created by FlorianPusse on 06.12.2019.
 -->

<!-- Report List Cmp -->
<template>
    <lightning-card  title={label.reportListLabel}>
        <div class="slds-p-horizontal_small">
            <ul class="slds-list_dotted">
                <template if:true={reports}>
                    <template for:each={reports} for:item='report'>
                        <li key={report.reportUrl}><a href={report.reportUrl}>{report.reportLabel}</a></li>
                    </template>
                </template>
                <template if:true={error}>
                    <p>{reports.error}</p>
                </template>
            </ul>
        </div>
    </lightning-card>
</template>